* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-flex {
    display: flex;
}

 .container-right {
    position: relative;
}


/* ------------------------------------------------------------ */
/* INIZIO ASIDE */

/*  ASIDE XS */

.aside-xs {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 75px);
    background-color: black;
    align-items: center;
    padding: 10px;
    z-index: 1
}

.aside-xs img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#logo-xs {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
}

/* ASIDE DESKTOP */


.aside-full {
    flex: 0 33.333333vw;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
    background-color: black;
    padding: 25px 10px 0px 10px;
    color: #646464;
    justify-content: space-between;
    z-index: 1;
}

.aside-full p {
    font-size: 14px;
    font-weight: 600;
}

/*  ASIDE TOP */

.logo img {
    max-width: 145px;
    padding: 0 0 20px 15px;
}

.icon-home, .icon-search , .icon-library {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 15px;
    transition:0.3s;
}

.icon-home img, .icon-search img , .icon-library img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.icon-home:hover, .icon-search:hover , .icon-library:hover {
    color:white;
    cursor: pointer;
}

.icon-home:active, .icon-search:active , .icon-library:active {
    background: #282828;
    border-radius: 5px;
}

/*  ASIDE PLAYLIST */

.aside-playlist {
    padding: 30px 0 20px 15px;
}

.playlist-p {
    text-transform: uppercase;
    color: white;
}

.playlist-btn {
    margin-bottom: 15px;
    border-bottom: 1px solid #646464;
}

.new-playlist {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition:0.3s;
}

.block-playlist {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #646464;
    margin: 12px 15px 15px 0;
    border-bottom: 1px solid #646464;
    transition:0.3s;
}

.block-playlist span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: black;
}

.new-playlist p {
    transition: 0.3s;
}

.new-playlist:hover .block-playlist {
    background-color: white;
}

.new-playlist:hover p {
    color:white;
}

.playlist-list p {
    padding: 5px 0;
    cursor: pointer;
}

.playlist-list {
    overflow-y:auto;
}

.playlist-list p:hover {
    color: white;
}


/* ASIDE BOT */

.download-app {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid  #646464;
    transition: 0.3s;
}

.download-app:hover {
    color: white;
    cursor: pointer;
}

.download-app img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.mini-profile {
    display: flex;
    padding: 10px;
    align-items: center;
}

.mini-profile p {
    color:white;
    text-transform: uppercase;
    margin-left: 10px;
}

.box-profile-img {
    height: 30px;
    width: 30px;
    background-color: #646464;
    border-radius: 50%;
    text-align: center;
}

.box-profile-img img {
    height: 25px;
    width: 25px;
}


/* ------------------------------------------------------------ */
/* FINE ASIDE */
/* ------------------------------------------------------------ */
/* INIZIO HEADER */

.menu-top {
    position: absolute;
    top:0;
    width: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.95;
}

.upgrade {
    float:right;
    margin: 22px 18px 22px 0;
    padding: 10px 30px;
    border-radius: 165px;
    border: 1px solid white;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.upgrade h6 {
    font-weight: 600;
    text-transform: uppercase;
}

/* ------------------------------------------------------------ */
/* FINE HEADER */
/* ------------------------------------------------------------ */
/* INIZIO MAIN */


.container-right {
    min-width: 66.6666666vw;
}

main {
    display:flex;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 75px);
    background-color: #141922;
    padding: 90px 0px 0 35px;
    flex-direction: column;
    color: #646464;
}

main h3, main h4 {
    color: white;
    font-weight: 600;
}

main h3 {
    font-size: 22px;
}

.list-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    transition: 0.3s;
}

.li-element {
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.li-line {
    border: 1px solid transparent;
}

.li-element p {
    font-size: 11px;
    transition: 0.3s;
    cursor: pointer;
}

.li-element:hover p {
    color: white;
}

.li-element:hover .li-line {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #adff2f;
}

.li-element:hover {
    margin: 0 50px;
    transform: scale(2);
}

.music-flex {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 auto;
}

.music-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 30px;
    cursor: pointer;
}

.music-img {
    width: 160px;
    height: 180px;
    position:relative;
    margin-bottom: 20px
}

.music-img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    z-index: -1;
    color: white;
    transition: 0.3s;
}

.music-card img, .music-card h4, .music-card p {
    transition: 0.3s;
}

.music-card:hover img {
    filter:blur(5px);
}

.music-card:hover i {
    z-index: 99;
}

.music-card:hover p {
    color:white;
}

.recently, .create {
    margin-bottom: 60px;
}

.sub-text {
    margin-top: 5px;
}

.img-artist img {
    border-radius: 50%;
}

.artist {
    padding-bottom: 30px;
}


/* MAIN MENU HAMBUGER */

/* ------------------------------------------------------------ */
/* FINE MAIN */
/* ------------------------------------------------------------ */
/* INIZIO FOOTER*/
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #646464;
        background-color: #282828;
        width: 100vw;
        height: 75px;
        z-index: 99;
    }

    footer i {
        font-size: 20px;
        cursor:pointer;
        margin-right: 15px;
        transition: 0.3s;
    }

    footer i:hover {
        color: white;
    }

    footer * {
        transition: 0.3s;
    }

/* FOOTER SX  */
    .footer-left {
         flex: 1 1 33.33333vw;
        display: flex;
        align-items: center;
    }

    .footer-left img {
        height: 45px;
        width: 45px;
        margin: 0 10px;
    }

    .left-song {
        display: flex;
        align-items: center;
    }

    .left-song h5 {
        color: white;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .left-icons {
        margin-left: 15px;
    }

    .left-icons i {
        margin-right: 5px;
    }
/* FOOTER CENTER */

.footer-center {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 33.3333vw;
}

.control-btn {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

#btn-play {
    font-size: 30px;
}

.song-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-max-lenght {
    width: 25vw;
    border: 3px none #646464;
    border-radius: 15px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #646464;
}

.song-actual-lenght {
    z-index: 1;
    width: 25%;
    border-radius: 15px;
    border:3px solid white;
}

/* FOOTER RIGHT */

.footer-right {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 33.33333vw;
}

.volume-max {
    width: 5vw;
    height: 3px;
    background-color: #646464;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 15px;
}

.volume-actual {
    z-index: 1;
    width: 70%;
    cursor: pointer;
    background-color: white;
    height: 3px;
    border-radius: 15px;
}

/* ------------------------------------------------------------ */
/* FINE FOOTER */

@media screen and (max-width: 534.98px ) {

    .aside-full {
        display:none;
    }

    .aside-xs {
        display: flex;
    }

    .upgrade {
        padding: 10px;
    }

    footer * {
        transform: scale(0.8);
    }

    footer i {
        margin-right: 6px;
    }

    .volume-max {
        margin-right: 6px;
    }

    footer img {
        margin: 0 auto;
    }
}

@media screen and (min-width: 535px) {
    .aside-full {
        display: flex;
    }

    .aside-xs {
        display:none;
    }
}

@media screen and (max-width: 799.98px) {
    footer * {
        transform: scale(0.92);
    }

    footer i {
        margin-right: 10px;
    }

    .volume-max {
        margin-right: 10px;
    }

    footer img {
        margin: 0 auto;
    }

    main {
        padding: 90px 0 40px 20px;
    }

    .music-flex {
        justify-content: space-evenly;
    }

    .li-element p {
        transform: scale(0.8);
        }
}

@media screen and (max-width: 729.98px) {
    .li-element{
        transform: scale(0.6);
    }
}


@media screen and (max-height:699.98px) {
    .aside-full {
        display: none;
    }

    .aside-xs {
        display:flex;
    }
}
