* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-flex {
    display: flex;
}

 .container-right {
    position: relative;
}


/* ------------------------------------------------------------ */
/* INIZIO ASIDE */

.aside-full {
    flex: 0 0 240px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: black;
    padding: 25px 10px 0px 10px;
    color: #646464;
    justify-content: space-between;
}

.aside-full p {
    font-size: 14px;
    font-weight: 600;
}

/*  ASIDE TOP */

.logo img {
    max-width: 145px;
    padding: 0 0 20px 15px;
}

.icon-home, .icon-search , .icon-library {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 15px;
    transition:0.3s;
}

.icon-home img, .icon-search img , .icon-library img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.icon-home:hover, .icon-search:hover , .icon-library:hover {
    color:white;
    cursor: pointer;
}

.icon-home:active, .icon-search:active , .icon-library:active {
    background: #282828;
    border-radius: 5px;
}

/*  ASIDE PLAYLIST */

.aside-playlist {
    padding: 30px 0 20px 15px;
}

.playlist-p {
    text-transform: uppercase;
    color: white;
}

.playlist-btn {
    margin-bottom: 15px;
    border-bottom: 1px solid #646464;
}

.new-playlist {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition:0.3s;
}

.block-playlist {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #646464;
    margin: 12px 15px 15px 0;
    border-bottom: 1px solid #646464;
    transition:0.3s;
}

.block-playlist span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: black;
}

.new-playlist p {
    transition: 0.3s;
}

.new-playlist:hover .block-playlist {
    background-color: white;
}

.new-playlist:hover p {
    color:white;
}

.playlist-list p {
    padding: 5px 0;
}

.playlist-list {
    overflow-y:auto;
}

.playlist-list p:hover {
    color: white;
}


/* ASIDE BOT */

.download-app {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid  #646464;
    transition: 0.3s;
}

.download-app:hover {
    color: white;
}

.download-app img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.mini-profile {
    display: flex;
    padding: 10px;
    align-items: center;
}

.mini-profile p {
    color:white;
    text-transform: uppercase;
    margin-left: 10px;
}

.box-profile-img {
    height: 30px;
    width: 30px;
    background-color: #646464;
    border-radius: 50%;
    text-align: center;
}

.box-profile-img img {
    height: 25px;
    width: 25px;
}

/*  ASIDE XS */

.aside-xs {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90vh;
    background-color: black;
    align-items: center;
    padding: 10px;
}

.aside-xs img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#logo-xs {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
}
/* ------------------------------------------------------------ */
/* FINE ASIDE */
/* ------------------------------------------------------------ */
/* INIZIO HEADER */

.menu-top {
    position: absolute;
    top:0;
    width: 100%;
    background-color: black;
    opacity: 0.9;
}

.upgrade {
    float:right;
    margin: 22px 18px 22px 0;
    padding: 10px 30px;
    border-radius: 165px;
    border: 1px solid white;
    text-align: center;
    color: white;
    cursor: pointer;
}

.upgrade h6 {
    font-weight: 600;
    text-transform: uppercase;
}

/* ------------------------------------------------------------ */
/* FINE HEADER */
/* ------------------------------------------------------------ */
/* INIZIO MAIN */

main {
    display:flex;
    overflow-y: scroll;
    height: 90vh;
    /* DA CANCELLARE */
    background-color: yellow;
    opacity: 0.5;
    padding: 100px 50px 0 50px;
}



/* ------------------------------------------------------------ */
/* FINE MAIN */
/* ------------------------------------------------------------ */
/* INIZIO FOOTER*/
    footer {

        /* DA CANCELLARE */
        background-color: blue;
        opacity: 0.5;
        width: 100vw;
        height: 10vh;
    }

/* ------------------------------------------------------------ */
/* FINE FOOTER */

@media screen and (max-width: 475px ) {

    .aside-full {
        display:none;
    }

    .aside-xs {
        display: flex;
    }
}

@media screen and (min-width: 476px) {
    .aside-full {
        display: flex;
    }

    .aside-xs {
        display:none;
    }

}
