* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-flex {
    display: flex;
}

 .container-right {
    position: relative;
}


/* ------------------------------------------------------------ */
/* INIZIO ASIDE */

.aside-xs {
    display: none;
}

.aside-full {
    flex: 0 0 240px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: black;
    padding: 25px 10px 0px 15px;
    color: #646464;
}

.aside-full p {
    font-size: 14px;
    font-weight: 600;
}

.logo img {
    max-width: 130px;
    padding-bottom: 20px;
}

.icon-home, .icon-search , .icon-library {
    display: flex;
    align-items: center;
    padding: 10px;
}

.icon-home img, .icon-search img , .icon-library img {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

.icon-home:hover, .icon-search:hover , .icon-library:hover {
    transition:0.3s;
    color:white;
    cursor: pointer;
}

 .icon-home:active, .icon-search:active , .icon-library:active {
    background: #282828;
    border-radius: 5px;
}
/* ------------------------------------------------------------ */
/* FINE ASIDE */
/* ------------------------------------------------------------ */
/* INIZIO HEADER */

.menu-top {
    position: absolute;
    top:0;
    width: 100%;
    /* DA CANCELLARE */
    height: 100px;
    background-color: green;
    opacity: 0.5;
}

/* ------------------------------------------------------------ */
/* FINE HEADER */
/* ------------------------------------------------------------ */
/* INIZIO MAIN */

main {
    display:flex;
    overflow-y: scroll;
    height: 90vh;
    /* DA CANCELLARE */
    background-color: yellow;
    opacity: 0.5;
    padding: 100px 50px 0 50px;
}

/* ------------------------------------------------------------ */
/* FINE MAIN */
/* ------------------------------------------------------------ */
/* INIZIO FOOTER*/
    footer {

        /* DA CANCELLARE */
        background-color: blue;
        opacity: 0.5;
        width: 100vw;
        height: 10vh;
    }

/* ------------------------------------------------------------ */
/* FINE FOOTER */




@media screen and (max-width: 350px ) {

    .aside-full {
        display:none;
    }

    .aside-xs {
        display:block;
    }
}
